{% extends "base.html" %}
{% load i18n  static %}


{% block title %}{% trans 'Log in' %}{% endblock %}

{% block body %}
    {% block main %}
        <div class="registration-form">
            {% block content %}
                <div class="row">
                    <div class="col s12">
                        <div class="container">
                            <div class="row" id="login-page">
                                <div class="col s10 m8 l8 z-depth-5 card-panel border-radius-6
             bg-opacity-8 login-card" style="width:100%;">
                                    <div class="row input-field">
                                        <div class="col s12 m12 l12">
                                            {% trans "Thanks for spending some quality time with the Web site today." %}
                                        </div>
                                    </div>
                                    <div class="row center"
                                         style="margin-top:30px !important;margin-bottom:30px !important;">
                                        <div class="col s12 m12 l12">
                                            <a href="{% url 'login' %}"
                                               class="btn btn-primary white-text">{% trans 'Log in again' %}</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div class="divider"
                                                 style="padding-top: inherit;padding-bottom: inherit;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <p class="center"><strong>Powered by</strong></p>
                                        </div>
                                        <div class="col s12" style="display:flex; justify-content:center;">
                                            <a href="https://portal.gbitcorp.com/">
                                                <img style="width:150px;height:50px;"
                                                     src="{% static 'img/gbit_logo.png' %}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    {% endblock main %}
{% endblock body %}
