{% extends "base.html" %}
{% load i18n static %}


{% block title %}{% trans 'Log in' %}{% endblock %}
{% block body %}
    {% block main %}
        <div class="registration-form">
            {% block content %}

                <div class="row">
                    <div class="col s12">
                        <div class="container">
                            <div class="row" id="login-page">
                                <div
                                        class="col s10 m8 l8 z-depth-5 card-panel border-radius-6 bg-opacity-8 login-card">
                                    <form action="{{ app_path }}" method="post" id="login-form">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col s12 center">
                                                <img class="responsive-img"
                                                     src="{% static 'img/Workflow-logo.png' %}" alt=""
                                                     style="width: 40%; height: 100px;">
                                            </div>
                                        </div>
                                        {% if form.non_field_errors %}
                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="card red" style="margin: 0;">
                                                        <div class="card-content white-text" style="padding: 1px 10px;">
                                                            <span style="font-weight: 600;">{{ form.non_field_errors }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">account_circle</i>
                                                {{ form.username }}
                                                <label class="active"
                                                       for="{{ form.username.id_for_label }}">Username</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">lock</i>
                                                {{ form.password }}
                                                <label class="active"
                                                       for="{{ form.password.id_for_label }}">Password</label>
                                            </div>
                                        </div>
                                        {#                                        {% form %}#}
                                        {#                                            {% part form.username prefix %}<i#}
                                        {#                                                    class="material-icons prefix">email</i>{% endpart %}#}
                                        {#                                            {% part form.password prefix %}#}
                                        {#                                                <i class="material-icons prefix">lock</i>#}
                                        {#                                            {% endpart %}#}
                                        {#                                        {% endform %}#}
                                        <div class="row input-form">
                                            <div class="col s12"
                                                 style="display:flex; justify-content:center;padding-top:10px;">
                                                <a
                                                        href="{% url 'password_reset' %}">{% trans 'Forgotten your password?' %}</a>
                                            </div>
                                        </div>
                                        <div class="row input-form">
                                            <div class="input-field col s12"
                                                 style="display:flex; justify-content:center;">
                                                <button type="submit"
                                                        class="btn btn-primary waves-effect waves-light">
                                                    <i class="material-icons right">forward</i>Log In
                                                </button>
                                                {% comment %} class="material-icons right">forward</i>{% trans 'Log in' %}</button> {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12">
                                                <p class="center"><strong>Powered by</strong></p>
                                            </div>
                                            <div class="col s12"
                                                 style="display:flex; justify-content:center;">
                                                <a href="https://portal.gbitcorp.com/">
                                                    <img style="width:150px;height:50px;"
                                                         src="{% static 'img/gbit_logo.png' %}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    {% endblock main %}
    <script>
        $(document).ready(function () {
            M.updateTextFields()
        })
    </script>
{% endblock body %}

