{% extends "base.html" %}
{% load i18n static %}


{% block title %}Cambiar contraseña{% endblock %}
{% block body %}
    {% block main %}
        <div class="registration-form">
            {% block content %}
                <div class="row">
                    <div class="col s12">
                        <div class="container">
                            <div class="row" id="forgot-password">
                                <div
                                        class="col s10 m10 l10 z-depth-5 card-panel border-radius-6 bg-opacity-8 forgot-card">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% if form.errors %}
                                            <div class="row">
                                                <div class="col s12">
                                                    <p class="errornote">
                                                        {% if form.errors.items|length == 1 %}
                                                            {% trans "Please correct the error below." %}{% else %}
                                                            {% trans "Please correct the errors below." %}{% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col s12">
                                                <p>
                                                    {% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">lock</i>
                                                {{ form.old_password.errors }}
                                                {{ form.old_password.label_tag }} {{ form.old_password }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">lock</i>
                                                {{ form.new_password1.errors }}
                                                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                                {% comment %} {% if form.new_password1.help_text %}
                <div class="help">{{ form.new_password1.help_text|safe }}
                </div>
                {% endif %} {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">lock</i>
                                                {{ form.new_password2.errors }}
                                                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                                {% if form.new_password2.help_text %}
                                                    <div class="help">
                                                        {{ form.new_password2.help_text|safe }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12 center">
                                                <button style="margin-bottom:20px;" type="submit" class="btn waves-effect
                       waves-light">{% trans 'Change my password' %}</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12">
                                                <p class="center"><strong>Powered by</strong></p>
                                            </div>
                                            <div class="col s12"
                                                 style="display:flex; justify-content:center;margin-bottom:10px;">
                                                <img style="width:150px;height:50px;"
                                                     src="{% static 'img/gbit_logo.png' %}" alt="">
                                            </div>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    {% endblock main %}
{% endblock body %}