{% extends "base.html" %}

{% load i18n static %}

{% block title %}Restablecimiento completado{% endblock %}
{% block body %}
    {% block main %}
        <div class="registration-form">
            {% block content %}
                <div class="row col s12 container" id="forgot-password">
                    <div class="col s12 m10 l10 z-depth-5 card-panel border-radius-6 bg-opacity-8 forgot-card">
                        <div class="row">
                            <div class="col s12 input-field">
                                <p class="flow-text">{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 input-field center">
                                <a class="btn btn-large waves-effect waves-light"
                                   href="{{ login_url }}">{% trans 'Log in' %}</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col s12 input-field center">
                                <p><strong>Powered by</strong></p>
                                <img style="width:200px;height:100px;" src="{% static 'img/gbit_logo.png' %}"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    {% endblock main %}
{% endblock body %}
