{% extends "base.html" %}
{% load i18n static %}


{% block title %}Recuperar contraseña{% endblock %}

{% block body %}
    {% block main %}
        <div class="registration-form">
            {% block content %}
                <div class="row">
                    <div class="col s12">
                        <div class="container">
                            <div class="row" id="forgot-password">
                                <div
                                        class="col s10 m8 l8 z-depth-5 card-panel border-radius-6 bg-opacity-8 forgot-card">
                                    <div class="row">
                                        <div class="col s12 center">
                                            <img class="responsive-img"
                                                 src="{% static 'img/Workflow-logo.png' %}" alt=""
                                                 style="width: 40%;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 input-field">
                                            <p class="flow-text">
                                                {% trans 'A message was sent to your email. Follow the instructions in the message to reset your password.' %}
                                            </p>
                                        </div>
                                        <div class="col s12 input-field"
                                             style="display:flex;justify-content:center;">
                                            <a class="btn waves-effect waves-light btn-block"
                                               style="width:300px;" href="{% url 'login' %}">Volver</a>
                                        </div>
                                        <div class="col s12 input-field"
                                             style="display:flex;justify-content:center;">
                                            <p><strong>Powered by</strong></p>
                                        </div>
                                        <div class="col s12 input-field"
                                             style="display:flex;justify-content:center;">
                                            <img style="width:150px;height:90px;"
                                                 src="{% static 'img/gbit_logo.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    {% endblock main %}
{% endblock body %}