{% extends "base.html" %}
{% load i18n static %}

{% block title %}Recuperar contraseña{% endblock %}
{% block body %}
    {% block main %}
        <div class="registration-form">
            {% block content %}
                <div class="row">
                    <div class="col s12">
                        <div class="container">
                            <div class="row" id="forgot-password">
                                <div class="col s10 m8 l8 z-depth-5 card-panel border-radius-6
                                        bg-opacity-8 forgot-card">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col s12 center">
                                                <img class="responsive-img"
                                                     src="{% static 'img/Workflow-logo.png' %}" alt=""
                                                     style="width: 40%;">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12">
                                                <h5 style="margin-left:4;"> Recuperar contraseña</h5>
                                                <p style="margin-left:4;">
                                                    {% trans 'Enter your email address below, and we’ll email instructions for setting a new one.' %}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix"
                                                   style="padding-top:2% !important;">email</i>
                                                {{ form.email.errors }}
                                                <label for="id_email">{% trans 'Email address:' %}</label>
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 m6 l6 input-field forgot-buttons ">
                                                <button class="btn waves-effect waves-light password-reset-button" type="submit"
                                                        style="width:150px;">{% trans 'Send' %}
                                                </button>
                                            </div>
                                            <div class="col s12 m6 l6 input-field forgot-buttons ">
                                                <a class="btn btn-block red accent-4  waves-effect waves-light"
                                                   href="{% url 'login' %}" style="width:150px;">
                                                    {% trans 'Cancel' %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12">
                                                <p class="center"><strong>Powered by</strong></p>
                                            </div>
                                            <div class="col s12"
                                                 style="display:flex; justify-content:center;">
                                                <a href="https://portal.gbitcorp.com/">
                                                    <img style="width:150px;height:50px;"
                                                         src="{% static 'img/gbit_logo.png' %}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    {% endblock main %}
{% endblock body %}