{% extends "base.html" %}

{% load i18n static %}

{% block title %}Contraseña modificada{% endblock %}
{% block body %}
    {% block main %}
        <div class="registration-form">
            {% block content %}
                <div class="row">
                    <div class="col s12">
                        <div class="container">
                            <div class="row" id="forgot-password">
                                <div style="width:300px;"
                                     class="col s10 m10 l10 z-depth-5 card-panel border-radius-6 bg-opacity-8 forgot-card">
                                    <div class="row">
                                        <div class="col s12 center">
                                            <p>{% trans 'Your password was changed.' %}</p>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:20px;">
                                        <div class="col s12 center">
                                            <a class="btn btn-block waves-effect waves-light"
                                               href="{% url 'login' %}">Login</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 center">
                                            <p>Powered by</p>
                                            <img style="width:200px;height:100px;"
                                                 src="{% static 'img/gbit_logo.png' %}"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    {% endblock main %}
{% endblock body %}
