{% extends "base.html" %}

{% load i18n static %}
{% block title %}Confirmar contraseña{% endblock %}

{% block body %}
    {% block main %}
        <div class="registration-form">
            {% block content %}
                <div class="row">
                    <div class="col s12">
                        <div class="container">
                            <div class="row" id="forgot-password">
                                <div
                                        class="col s10 m8 l8 z-depth-5 card-panel border-radius-6 bg-opacity-8 forgot-card">
                                    {% if validlink %}
                                        <form method="post">{% csrf_token %}
                                            <div class="row">
                                                <div class="col s12 center">
                                                    <img class="responsive-img"
                                                         src="{% static 'img/Workflow-logo.png' %}" alt=""
                                                         style="width: 35%;">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12">
                                                    <p>
                                                        {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">lock</i>
                                                    <label
                                                            for="id_new_password1">{% trans 'New password:' %}</label>
                                                    {{ form.new_password1 }}
                                                    <span class="helper-text"
                                                          data-error="{{ form.new_password1.errors }}">{{ form.new_password1.errors }}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">lock</i>
                                                    <label
                                                            for="id_new_password2">{% trans 'Confirm password:' %}</label>
                                                    {{ form.new_password2 }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12 center">
                                                    <button class="btn btn-large waves-effect waves-light"
                                                            type="submit">{% trans 'Change my password' %}</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 center">
                                                    <p><strong>Powered by</strong></p>
                                                    <img style="width:200px;height:100px;"
                                                         src="{% static 'img/gbit_logo.png' %}" alt="">
                                                </div>
                                            </div>
                                        </form>

                                    {% else %}

                                        <div class="row">
                                            <div class="col s12">
                                                <p>
                                                    {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    {% endblock main %}
{% endblock body %}
