{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col s12">
    <div class="card card-panel">
        <div class="card-content">
            <h6 class="card-title">Ajustes</h6>
        </div>
    </div>
</div>
</div>
{% endblock content%}