html, body {
    height: 100%;
}

body {
    background: #efefef;
}


.sidenav-user-profile {
    height: 150px;
    background: #00acc1;
}

.notification-badge {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    position: relative;
    top: -20px;
    right: 5px;
    margin: 0 -0.8em;
    padding: 2px 5px;
    color: white;
    border-radius:50%;
    background-color: #03a9f4;
    box-shadow: 0 0 10px 0 #03a9f4;
}

.dropdown-content li>a {
    font-size: 14px;
    color: #00796b;
}

.sidenav .user-view .circle {
    height: 90px;
    width: 90px;
    border-radius: 0 !important;
}

.navbar #dropdown-notifications {
    width: 400px !important;

}

.navbar #dropdown-notifications li {
    font-size: 1rem;
    padding: 5px 10px;
}

.navbar #dropdown-notifications li.divider {
    padding: 0;
}

.navbar #dropdown-notifications li>a>span {
    position: relative;
    top: 4px;
    display: inline-block;
    margin-right: 5px;
}

.icon-bg-circle {
    padding: .4rem;
    color: #fff;
    border-radius: 50%;
}

#notifications-container {
    display: none;
    width: 23em;
    position: absolute;
    top: 59px;
    right: 148px;
    min-height: 200px;
    max-height: 450px;
}

#notifications-container>div {
    padding: 5px;
}

.wflogo {
    width: 80vh;
    height: 80vh;
    align-self: center;
}

#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.border-radius-6 {
    border-radius: 6px !important;
}

.bg-opacity-8 {
    background-color: rgba(255, 255, 255, .8);
}

.login-card {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.pt-2 {
    padding-top: 2% !important;
}

.margin {
    margin: 0 !important;
}

.border-round {
    border-radius: 150px !important;
}

.input-form {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
}

.registration-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-size: cover !important;
    background: url("../img/background.svg");
}

#forgot-password {
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}


#newprocess-modal>.modal-content {
    padding: 10px;
}

li.avatar {
    padding-left: 15px !important;
    min-height: 0 !important;
}

li.avatar a {
    width: 100px;
}

.forgot-card {
    margin-left: 0 !important;
}

.forgot-buttons {
    display: flex;
    justify-content: center;
}

.row {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 0 !important;
}

table.responsive-table th {
    color: #6b6f82;
}

@media only screen and (min-width: 993px) {

    nav a.sidenav-trigger {
        display: block;
    }
}

@media only screen and (max-width: 601px) {
    #notifications-container {
        top: 51px;
    }
}

@media only screen and (max-width: 361px) {
    #notifications-container {
        margin: 8px -120px;
    }
}