{% load static %}
<link href="{% static 'fonts/material-design-icons/material-icons.css' %}" rel="stylesheet">
<link href="{% static 'fonts/roboto/style.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% if not debug %}
    <link href="{% static 'css/material/materialize.min.css' %}" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% else %}
    <link href="{% static 'css/material/materialize.css' %}" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {#    <link href="{% static 'material/css/jquery.datetimepicker.css' %}" rel="stylesheet">#}
    {#    <link href="{% static 'material/css/responsive.dataTables.css' %}" rel="stylesheet">#}
    {#    <link href="{% static 'material/css/fixedHeader.dataTables.css' %}" rel="stylesheet">#}
    {#    <link href="{% static 'material/css/perfect-scrollbar.css' %}" rel="stylesheet">#}
{% endif %}
