{% load static %}
<script type="text/javascript" src="{% static 'js/jquery/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker/daterangepicker.min.js' %}"></script>
{% if not debug %}
    <script type="text/javascript" src="{% static 'js/material/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.min.js' %}"></script>
{% else %}
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/material/materialize.js' %}"></script>
    {#<script src="{% static 'material/js/custom-elements.min.js' %}"></script>#}
    {#<script src="{% static 'material/js/materialize.components.js' %}"></script>#}
    {#<script src="{% static 'material/js/turbolinks.js' %}"></script>#}
    {#<script src="{% static 'material/js/jquery.js' %}"></script>#}
    {#<script src="{% static 'material/js/jquery.dataTables.js' %}"></script>#}
    {#<script src="{% static 'material/js/jquery.activeNavigation.js' %}"></script>#}
    {#<script src="{% static 'material/js/jquery.datetimepicker.full.js' %}"></script>#}
    {#<script src="{% static 'material/js/jquery.formset.js' %}"></script>#}
    {#<script src="{% static 'material/js/perfect-scrollbar.jquery.js' %}"></script>#}
    {#<script src="{% static 'material/js/dataTables.fixedHeader.js' %}"></script>#}
    {#<script src="{% static 'material/js/dataTables.responsive.js' %}"></script>#}
    {#<script src="{% static 'material/js/materialize.js' %}"></script>#}
{% endif %}

