{% extends 'base.html' %}


{% block nav_parcels_cls %}class="active"{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12 m3 l3 push-m9 push-l9">
            <div class="card">
                <div class="card-content" style="padding: 10px 10px">
                    <div class="row">
                        <div class="col s12 m12 l12 input-field">
                            <input type="text" id="solicitud" placeholder=""/>
                            <label for="solicitud"># Solicitud</label>
                        </div>
                        <div class="col s12 m12 l12 input-field">
                            <select>
                                <option value="" disabled selected></option>
                                <option value="2">Compra</option>
                                <option value="3">Vacaciones</option>
                                <option value="3">Ausencias</option>
                            </select>
                            <label>Proceso</label>
                        </div>
                        <div class="col s12 m12 l12 input-field">
                            <select>
                                <option value="" disabled selected>Tarea</option>
                                <option value="2">Tarea 1</option>
                                <option value="3">Tarea 2</option>
                                <option value="3">tarea 3</option>
                            </select>
                            <label>Tarea</label>
                        </div>
                        <div class="col s12 m12 l12 input-field">
                            {#                            <i class="material-icons prefix">date_range</i>#}
                            <input id="dates" type="text" name="dates" placeholder=""/>
                            <label for="dates">Fecha de creacion</label>
                        </div>
                        <div class="col s12">
                            <button type="submit" class="btn btn-block  waves-effect waves-light teal darken-2"
                                    style="width: inherit;">Filtrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m9 l9 pull-m3 pull-l3">
            <div id="responsive-table" class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s9">
                            <h4 class="card-title">Solicitudes Pendientes</h4>
                        </div>
                        <div class="col s3">
                            <!-- Modal Trigger -->
                            <a class="btn-floating btn-large waves-effect waves-light red right modal-trigger"
                               href="#newprocess-modal">
                                <i class="material-icons">add</i>
                            </a>
                            {#                               href="{% url 'workflow:workflow:compra:start' %}"><i class="material-icons">add</i></a>#}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12"></div>
                        <div class="col s12">
                            <table class="responsive-table striped">
                                <thead>
                                <tr role="row">
                                    <th data-field="id">Proceso</th>
                                    <th data-field="name">Descripcion</th>
                                    <th data-field="price">Fecha de asignación</th>
                                    <th data-field="total">Usuario solicitante</th>
                                    <th data-field="status">Fecha de Vencimiento</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for process in process_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'workflow:compra:detail' process.pk %}">{{ process.pk }}</a>
                                            {#                                            <a href="">{{ process.pk }}</a>#}
                                        </td>
                                        <td>{{ process.requester }}</td>
                                        <td>{{ process.requester }}</td>
                                        <td>{{ process.requester }}</td>
                                        <td>
                                            {{ process.status }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="newprocess-modal" class="modal">
        <div class="modal-content">
            <ul class="collection with-header">
                <li class="collection-header"><h4 style="margin-bottom: 0;">Nueva Solicitud</h4></li>
                <li class="collection-item avatar">
                    <span class="title">Compras</span>
                    <p>Solicitud de compra</p>
                    <a href="#!" class="secondary-content btn waves-effect waves-light"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <span class="title">Pagos</span>
                    <p>Solicitud de Pagos</p>
                    <a href="#!" class="secondary-content btn waves-effect waves-light"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <span class="title">Vacaciones</span>
                    <p>Solicitud de vacaciones</p>
                    <a href="#!" class="secondary-content btn waves-effect waves-light"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <span class="title">Solicitud carta de Trabajo</span>
                    <p>Solicitud carta de Trabajo</p>
                    <a href="#!" class="secondary-content btn waves-effect waves-light"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <span class="title">Solicitud de servicios</span>
                    <p>Solicitud de servicios</p>
                    <a href="#!" class="secondary-content btn waves-effect waves-light"><i class="material-icons">grade</i></a>
                </li>
            </ul>
{#            <div class="collection with-header">#}
{#                <h4 class="collection-header">Nueva Solicitud</h4>#}
{#                <a class="collection-item" href="#">Compras <span>Solicitud de compra</span></a>#}
{#                <a class="collection-item" href="#">Pagos <span >Solicitud de Pagos</span></a>#}
{#                <a class="collection-item" href="#">Vacaciones <span >Solicitud de Vacaciones</span></a>#}
{#                <a class="collection-item" href="#">Solicitud carta de trabajo<span >Solicitud carta de trabajo</span></a>#}
{#                <a class="collection-item" href="#">Solicitud de servicios<span >Solicitud de servicios</span></a>#}
{#            </div>#}
        </div>
    </div>
{% endblock content %}